@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: auto;
    width: 100%;
    background-color: #f6f6f6;
}

main {
    margin: auto;
    z-index: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input {
    border: none;
}

:focus {
    outline: none;
}

address {
    font-style: inherit;
}

ul {
    list-style: none;
}

h1, .footer_title {
    font-family: Shrikhand;
}

h2, .info_title, .info_button, p, .footer_list {
    font-family: Roboto;
}

.footer_title, .footer_list {
    color: #fff;
}

/*=============== ANIMATION CONTENU PAGE RESTAURANT ===============*/
.restaurant_card--title2 {
    animation: fade-in 2s ease-in-out backwards;
    opacity: 1;
}

.restaurant_card--title2:nth-child(2) {
    animation-delay: 800ms;
}

.restaurant_card--title2:nth-child(3) {
    animation-delay: 1200ms;
}

.restaurant_card--title2:nth-child(4) {
    animation-delay: 1600ms;
}

.restaurant_card--info {
    opacity: 0%;
    transform: scaleX(0);
    transform-origin: left;
    animation: swap-card 500ms ease-in-out;
    animation-fill-mode: forwards;
}

.restaurant_card--info:nth-of-type(10) {
    animation-delay: 2000ms;
}

.restaurant_card--info:nth-of-type(9) {
    animation-delay: 1800ms;
}

.restaurant_card--info:nth-of-type(8) {
    animation-delay: 1600ms;
}

.restaurant_card--info:nth-of-type(7) {
    animation-delay: 1400ms;
}
.restaurant_card--info:nth-of-type(6) {
    animation-delay: 1200ms;
}

.restaurant_card--info:nth-of-type(5) {
    animation-delay: 1000ms;
}

.restaurant_card--info:nth-of-type(4) {
    animation-delay: 800ms;
}

.restaurant_card--info:nth-of-type(3) {
    animation-delay: 600ms;
}

.restaurant_card--info:nth-of-type(2) {
    animation-delay: 400ms;
}

.restaurant_card--info:nth-of-type(1) {
    animation-delay: 200ms;
}

/*=============== KEYFRAMES PAGE RESTAURANT ===============*/
/* Processus d'animation des titres <h2> */
@keyframes fade-in {
    0% {
        transform: translatex(100px);
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

/* Processus d'animation des cards */
@keyframes swap-card {
    0% {
        background-color: #FF79DA;
    }
    51% {
        opacity: 25%;
    }
    95% {
        opacity: 15%;
        background-color: #008766;
    }
    100% {
        color: inherit;
        opacity: 1;
        transform: scaleX(1);
    }
}

/*=============== BUTTONS STYLE ===============*/
.info_button, .restaurant_button-order {
    cursor: pointer;
    color: white;
    width: 13.62rem;
    height: 3.12rem;
    flex-shrink: 0;
    border-radius: 1.56rem;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0 0.25rem 0.62rem 0 rgba(0, 0, 0, 0.2509803922);
    transition: box-shadow, transform, 0.5s;
}

.info_button:hover, .restaurant_button-order:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1490196078) 0%, rgba(255, 255, 255, 0.1490196078) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0 0.25rem 0.93rem 0 rgba(0, 0, 0, 0.3490196078);
    transition: box-shadow, transform, 0.5s;
}

.fonctionnement_buttons {
    counter-reset: nbButton;
}

.button-form {
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: center;
    gap: initial;
    list-style-type: none;
    counter-increment: nbButton;
    width: 100%;
}

@media (min-width: 1024px) {
    .button-form {
        width: 100%;
        max-width: 20.9rem;
    }
}

.button-form:before {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: initial;
    content: counter(nbButton);
    z-index: 1;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #9356DC;
}

.button-form_icon {
    color: #7E7E7E;
}

.button-form_link {
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: center;
    margin-left: -0.75rem;
    width: 100%;
    border-radius: 1.25rem;
    padding-left: 1.5rem;
    gap: 1.43rem;
    height: 4.52rem;
    border: 0.06rem solid transparent;
    box-shadow: 0rem 0.25rem 0.93rem rgba(0, 0, 0, 0.1490196078);
    transition: box-shadow, border, background-color, 0.5s;
    background-color: #F6F6F6;
}

/*=============== CARD STYLE (INDEX) ===============*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 1rem;
    width: 100%;
    border-radius: 0.93rem;
    box-shadow: 0 0.25rem 0.93rem rgba(0, 0, 0, 0.1);
    transition: box-shadow, transform, 0.5s;
    background-color: white;
}

.card:hover {
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.3490196078);
}

.card_restaurant--new:hover::before {
    box-shadow: 0.06rem 0.25rem 1.25rem rgba(0, 135, 102, 0.3);
}

.card_restaurant--new:hover::before {
    background-color: #99E2D0;
}

.card_restaurant--new::before {
    content: "Nouveau";
    text-align: center;
    position: absolute;
    font-family: Roboto;
    right: 3.53%;
    top: 5.18%;
    width: 5rem;
    height: 1.81rem;
    line-height: 1.81rem;
    border-radius: 0.12rem;
    box-shadow: 0rem 0.12rem 0.25rem rgba(0, 0, 0, 0.2509803922);
    transition: box-shadow, transform, 0.5s;
    background-color: #99E2D0;
    color: #008766;
}

.card_restaurant--link {
    width: 100%;
    position: relative;
}

@media (min-width: 768px) {
    .card_restaurant--link {
        width: calc((100% - 1.25rem) / 2);
    }
}

@media (min-width: 1024px) {
    .card_restaurant--link {
        width: calc((100% - 3.12rem) / 2);
        max-width: 30.6rem;
    }
}

.card_restaurant--img {
    border-radius: 0.93rem 0.93rem 0 0;
    height: 10.79rem;
    width: 100%;
    object-fit: cover;
}

.card_restaurant--content {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 0.31rem;
    padding: 0 1.4rem 0 1.4rem;
}

.card_restaurant--title {
    font-family: Roboto;
    padding-left: 0.18rem;
    margin-top: -0.3rem;
    width: 100%;
}

.card_restaurant--subtitle {
    font-weight: 300;
    padding-left: 0.18rem;
    padding-bottom: 1rem;
}

.card_restaurant--icon {
    position: absolute;
    right: 1.4rem;
    bottom: 2rem;
}

/*=============== CARD STYLE (RESTAURANT) ===============*/
.restaurant_card--info {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
    gap: initial;
    margin-top: 1rem;
    border-radius: 0.93rem;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0.25rem 0.93rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow, transform, 0.5s;
    background-color: white;
}

.restaurant_card--info:hover {
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.3490196078);
}

.restaurant_card--info:hover .restaurant_card--price {
    transform: translateX(0rem);
}

.restaurant_card--info:hover .restaurant_card--price .restaurant_card--animation {
    background-color: #99E2D0;
    cursor: pointer;
}

.restaurant_card--info:hover .restaurant_card--price .restaurant_card--animation .fa-circle-check {
    transform: rotate(2turn);
}

.restaurant_card--info .restaurant_card--content {
    border-radius: 0.93rem;
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
    height: 100%;
}

.restaurant_card--info .restaurant_card--content .restaurant_card--title {
    margin-top: 0.75rem;
    padding-right: 1.87rem;
    font-family: Roboto;
    font-weight: 700;
    font-size: 0.95rem;
}

.restaurant_card--info .restaurant_card--content .restaurant_card--subtitle {
    margin-top: 0.75rem;
    font-family: Roboto;
    font-weight: 300;
    font-size: 0.85rem;
}

.restaurant_card--info .restaurant_card--price {
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: center;
    gap: initial;
    width: 6.25rem;
    height: 100%;
    transform: translateX(3.12rem);
    transition: all 0.4s;
}

.restaurant_card--info .restaurant_card--price p {
    font-weight: 500;
    margin-right: 0.62rem;
}

.restaurant_card--info .restaurant_card--price span {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: initial;
    width: 100%;
    height: 100%;
}

.restaurant_card--info .restaurant_card--price span .fa-circle-check {
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s;
}

/*=============== HEART STYLE ===============*/
/* Animation pulsation */
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
/* Style de base des icônes de cœur */
.fas, .far:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
/* Désactive l'icône de base de checking */
.heart input {
    display: none;
}
  
/* Taille des icônes de cœur */
.fa-heart {
    width: 1.62rem;
    font-size: 1.5rem;
}
  
/* Les actions aux cliques des icônes de cœur */
.heart input:not(:checked) + label > i.far {
    display: block;
    cursor: pointer;
}
  
.heart input:checked + label > i.far {
    display: none;
}
  
.heart input:not(:checked) + label > i.fas {
    display: none;
}
  
.heart input:checked + label > i.fas {
    display: block;
    cursor: pointer;
    color: #FF79DA;
    animation: pulse 0.6s ease-in-out;
}

/*=============== LOADER ===============*/
.loader {
    position: fixed;
    display: grid;
    place-items: center;
    height: 100vh;
    inset: 0;
    z-index: 2;
    border-radius: 0.31rem;
    animation: loading 300ms forwards;
    animation-delay: 3s;
    transform-origin: center;
}

.loader_background--glass {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: center;
    gap: initial;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(0.62rem);
    -webkit-backdrop-filter: blur(0.62rem);
    border: 0.06rem solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
}

.loader_circle {
    margin: auto;
    width: 15.6rem;
    height: 15.6rem;
    border-radius: 50%;
    border: 0.43rem solid transparent;
    border-top-color: #9356DC;
    animation: circle 2s linear infinite;
}

.loader_circle::before, .loader_circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 0.43rem solid transparent;
}

.loader_circle::before {
    top: 0.62rem;
    left: 0.62rem;
    right: 0.62rem;
    bottom: 0.62rem;
    border-top-color: #FF79DA;
    animation: circle 3s linear infinite;
}

.loader_circle::after {
    top: 1.56rem;
    left: 1.56rem;
    right: 1.56rem;
    bottom: 1.56rem;
    border-top-color: #99E2D0;
    animation: circle 1.5s linear infinite;
}

/*=============== KEYFRAMES LOADER ===============*/
/* Processus d'animation des cercles */
@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Processus d'animation d'arrière plan du loader "background glass" */
@keyframes loading {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        display: none;
    }
}

/*=============== HEADER ===============*/
header {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: initial;
    background-color: #fff;
}

.header_logo--img {
    padding: 0.87rem 5.56rem 0.81rem 1.06rem;
    margin-left: 5rem;
}

.header_nav--arrow {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: initial;
    position: absolute;
    width: 1.87rem;
    height: 1.87rem;
    left: 1.18rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.header_nav--arrow:hover {
    transition: 0.3s;
    font-size: 1.9rem;
}

/*=============== FOOTER ===============*/
footer {
    width: 100%;
    background-color: #353535;
}

@media (min-width: 1440px) {
    footer {
        display: flex;
        flex-direction: initial;
        justify-content: center;
        align-items: initial;
        gap: initial;
    }
}

footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 1rem;
    width: 100%;
    padding: 1.37rem 1.56rem;
    max-width: 90rem;
}

@media (min-width: 768px) {
    footer .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: initial;
        align-items: flex-end;
        gap: 0;
        height: 7.12rem;
        padding: 1.87rem 1.09rem;
    }

    footer .footer address .footer_link {
        width: 6.25rem;
    }
}

@media (min-width: 1024px) {
    footer .footer {
        gap: 1rem;
        padding: 1.87rem 1.56rem;
    }

    footer .footer address .footer_link {
        width: 8.12rem;
    }
}

footer .footer_title {
    height: 1.68rem;
    transition: all 0.25s;
}

footer .footer_title:hover {
    color: #FF79DA;
}

@media (min-width: 768px) {
    footer .footer_title {
        width: 16%;
        max-width: 8.68rem;
    }
}

footer .footer_list {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 0.43rem;
}

@media (min-width: 768px) {
    footer .footer_list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0.43rem;
    }
}

footer .footer_link {
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: center;
    gap: 0.62rem;
    height: 1.18rem;
    width: 11.87rem;
    transition: all 0.25s;
}

footer .footer_link:hover {
    color: #FF79DA;
}

/*=============== INDEX PAGE (LOCALISATION) ===============*/
.localisation_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.06rem;
    height: 3.12rem;
    margin: 0 auto;
    background-color: #eaeaea;
}

.localisation_container input[type=text] {
    width: 6.81rem;
    background-color: #eaeaea;
}

.localisation_container input[type=text]:focus::placeholder {
    opacity: 0;
}

/*=============== INDEX PAGE (INFORMATION) ===============*/
.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 2.43rem 0rem 3.68rem 0rem;
    background-color: #F6F6F6;
}

.info_title {
    margin-bottom: 0.75rem;
    width: calc(100% - 6.25rem);
    min-width: 17.18rem;
}

.info_text {
    margin-bottom: 1.68rem;
    width: calc(100% - 3.75rem);
    min-width: 19.68rem;
}

/*=============== INDEX PAGE (FONCTIONNEMENT) ===============*/
.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 1.62rem;
    padding: 3rem 1.25rem 4.25rem 1.25rem;
    background-color: #fff;
}

@media (min-width: 1024px) {
    .fonctionnement {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        gap: 1.56rem;
    }
}

@media (min-width: 1024px) {
    .fonctionnement_title {
        width: 100%;
        max-width: 65.79rem;
    }
}

.fonctionnement_buttons {
    font-family: Roboto;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 1.56rem;
}

@media (min-width: 1024px) {
    .fonctionnement_buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: initial;
        gap: 1.5rem;
        width: 100%;
  }
}

/*=============== INDEX PAGE (RESTAURANTS) ===============*/
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.62rem;
    padding: 3.37rem 1.09rem 4.12rem 1.09rem;
}

@media (min-width: 1024px) {
    .restaurants {
        padding-top: 1.87rem;
    }
}

.restaurants_title {
    padding-left: 0.18rem;
    width: 100%;
    max-width: 67.5rem;
}

.restaurants_block--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.12rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 67.5rem;
}

@media (min-width: 768px) {
    .restaurants_block--container {
        gap: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .restaurants_block--container {
        justify-content: space-between;
        gap: 3.12rem;
    }
}

/*=============== MENU (Restaurants pages)===============*/
.restaurant {
    font-style: normal;
    line-height: normal;
    background-color: white;
}

.restaurant_img {
    object-fit: cover;
    height: 17.1rem;
    width: 100%;
}

.restaurant_page--headline {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    align-items: initial;
    gap: initial;
    max-width: 65.9rem;
    position: relative;
    margin: -2.5rem auto 0 auto;
    padding: 2rem 3.4vw 0 3.4vw;
    border-radius: 2.5rem 2.5rem 0 0;
    z-index: 1;
    background: #F6F6F6;
}

@media (min-width: 768px) {
    .restaurant_page--headline {
        padding-right: 14rem;
        padding-left: 14rem;
    }
}

@media (min-width: 1024px) {
    .restaurant_page--headline {
        padding-right: 22.8rem;
        padding-left: 22.8rem;
    }
}

.restaurant_block--icons {
    font-size: 1.37rem;
    width: 1.5rem;
}

.restaurant_page--icon {
    position: absolute;
    line-height: 2.56rem;
}

.restaurant_block--menu {
    max-width: 65.9rem;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: initial;
    margin: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    background: #F6F6F6;
}

@media (min-width: 768px) {
    .restaurant_block--menu {
        padding-right: 6.25rem;
        padding-left: 6.25rem;
  }
}

@media (min-width: 1024px) {
    .restaurant_block--menu {
        padding-right: 13.1rem;
        padding-left: 13.1rem;
  }
}

.restaurant_card--title2 {
    padding-top: 3rem;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.12rem;
}

/* Soulignement en vert */
.restaurant_card--title2::after {
    justify-self: flex-start;
    content: "";
    overflow: visible;
    width: 3.06rem;
    height: 0.18rem;
    display: block;
    background-color: #99E2D0;
}

.restaurant_button-order {
    margin: 2rem auto 2.5rem auto;
}

/*# sourceMappingURL=style.css.map */