/*======== IMPORT "VARIABLES / MIXINS" ========*/
@import "../utils/variables";

/*======== ANIMATION CONTENU PAGE RESTAURANT ========*/
.restaurant {
    &__card--title2 {        
        animation: fade-in 2s ease-in-out backwards;
        opacity: 1;
        @for $i from 2 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 400ms;
            }
        }
    }

    &__card--info {
        opacity: 0%;
        transform: scaleX(0);
        transform-origin: left;
        animation: swap-card 500ms ease-in-out;
        animation-fill-mode: forwards;
        @for $i from 10 through 1 {
            &:nth-of-type(#{$i}) {
                animation-delay: $i * 200ms;
            }
        }
    }
}

/*======== KEYFRAMES PAGE RESTAURANT ========*/
@keyframes fade-in {
    0% { 
        transform: translatex(100px);
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

@keyframes swap-card {
    0% {
        background-color: $Secondary-color;
    }
    51% {
        opacity: 25%;
    }
    95% {
        opacity: 15%;
        background-color: $Badge-text-color;
    }
    100% {
        color: inherit;
        opacity: 1;
        transform: scaleX(1);
    }
}