/*======== IMPORT "VARIABLES / MIXINS" ========*/
@import '../utils/variables';

/*======== HEART STYLE ========*/
%color-heart {
  background: linear-gradient($Primary-color, $Secondary-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart input {
  display: none;
}

.fa-heart  {
  width: 1.62rem;
  font-size: 1.5rem;
}

.far:hover {
  @extend %color-heart;
}

.fas {
  @extend %color-heart;
}

.heart input:not(:checked) + label > i.far{
  display: block;
  cursor: pointer;
}
.heart input:checked + label > i.far{
  display: none;
}
.heart input:not(:checked) + label > i.fas{
  display: none;
}
.heart input:checked + label > i.fas{
  display: block;
  cursor: pointer;
}